__tests__/
coverage/
*.spec.js
*.test.js
*.snap
node_modules
.expo/
.expo-shared/
*.log
*.tmp
.DS_Store
Thumbs.db
android

.vscode/
.idea/
*.iml
web-build/
dist/
build/
.env.local
.env.development
.env.production.local
*.env.backup
README.md
*.md
docs/
yarn-error.log
npm-debug.log
expo-debug.*
